contraction-tracker/n8n/contraction_log_api.json
{
  "id": "UqYhjVit6F5tywU1",
  "name": "Contraction Log API",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "wh1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "contraction-log",
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "contraction-log",
        "httpMethod": "GET",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      }
    },
    {
      "id": "pg1",
      "name": "Query DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT type, note, intensity, logged_at, to_char(logged_at AT TIME ZONE 'America/New_York', 'HH12:MI AM, Mon DD') as time FROM contractions ORDER BY logged_at DESC LIMIT 200"
      },
      "credentials": {
        "postgres": {
          "id": "Gsash8Ngl53AYBsJ",
          "name": "Postgres maestro_hub"
        }
      }
    },
    {
      "id": "code1",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json);\nconst entries = all.slice(0, 50);\nconst now = new Date();\nconst twoHoursAgo = new Date(now - 2 * 60 * 60 * 1000);\nconst recent = all.filter(e => e.type === 'contraction' && new Date(e.logged_at) >= twoHoursAgo);\nconst totalCount = all.filter(e => e.type === 'contraction').length;\n\nlet stats = { total: totalCount, count_2h: recent.length, avg_gap_min: null, avg_intensity: null, intensity_label: null };\n\nif (recent.length >= 2) {\n  const times = recent.map(e => new Date(e.logged_at).getTime()).sort((a,b) => b - a);\n  let gaps = [];\n  for (let i = 0; i < times.length - 1; i++) gaps.push((times[i] - times[i+1]) / 60000);\n  const avgGap = gaps.reduce((a,b) => a+b, 0) / gaps.length;\n  stats.avg_gap_min = Math.round(avgGap * 10) / 10;\n\n  const iMap = { mild: 1, moderate: 2, strong: 3, intense: 4 };\n  const iLabels = ['mild', 'moderate', 'strong', 'intense'];\n  const withI = recent.filter(e => e.intensity && iMap[e.intensity]);\n  if (withI.length > 0) {\n    const avgI = withI.reduce((s,e) => s + iMap[e.intensity], 0) / withI.length;\n    stats.avg_intensity = Math.round(avgI * 10) / 10;\n    stats.intensity_label = iLabels[Math.round(avgI) - 1] || 'unknown';\n  }\n}\n\nreturn [{ json: { count: entries.length, stats, entries } }];"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Query DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query DB": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1"
  }
}
