baby-tracker/n8n/pump_reminder.json
{
  "id": "t4WY1ThtGG53Kag7",
  "name": "Pump Reminder",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "pump-reminder",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "pump-reminder",
      "id": "96f4e8f8-47fa-4cf0-9fff-6ea6bcdab145"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "hours"
      },
      "name": "Wait 2h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        450,
        300
      ],
      "id": "b48809e3-da55-4844-9261-1d7744f0b768"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.body || $input.first().json;\nconst side = d.side || '';\nconst pumpTime = d.pump_time || 'earlier';\nreturn [{json: {\n  title: '\ud83e\uded9 Pump Reminder',\n  message: 'Time to pump again! Last pump (' + side + ') was at ' + pumpTime + ' \u2014 2 hours ago.'\n}}];"
      },
      "name": "Format Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "id": "42f93629-0d87-446d-af74-c9384ed6b95d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant.local:8123/api/services/notify/mobile_app_your_phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <HA_LONG_LIVED_TOKEN>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, message: $json.message }) }}"
      },
      "name": "Notify You",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        200
      ],
      "id": "7b8b6d3b-5cb4-4913-b16e-259e4003a7fb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant.local:8123/api/services/notify/mobile_app_partner_phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <HA_LONG_LIVED_TOKEN>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, message: $json.message }) }}"
      },
      "name": "Notify Partner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        400
      ],
      "id": "3707b918-8bf4-417a-9d2a-4a7305c8384e"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2h": {
      "main": [
        [
          {
            "node": "Format Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reminder": {
      "main": [
        [
          {
            "node": "Notify You",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
